<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>baca.quran</title>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body
    class="h-screen bg-gradient-to-r from-blue-500 via-purple-500 to-pink-500 flex items-center justify-center"
  >
    <div class="text-center text-white">
      <h1 class="text-5xl font-bold">baca.quran</h1>
      <p class="mt-4 text-xl">
        Apakah Anda sudah ngaji hari ini? Yuk ngaji dulu.
      </p>
      <a
        href="/surah"
        class="mt-8 inline-block bg-white text-blue-500 font-semibold py-2 px-4 rounded hover:bg-blue-500 hover:text-white transition duration-300"
      >
        Baca Surah
      </a>
    </div>
  </body>
</html>
